/* Main layout styling */
.container {
    display: flex;
    gap: 24px;
    height: 100vh;
    background-color: #ebe4e4;
  }
  
  .sidebar-container {
    width: 15%;
    transition: transform 0.3s ease;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  /* Responsive sidebar and content for mobile */
  @media (max-width: 768px) {
    .sidebar-container {
      position: fixed;
      /* transform: translateX(-100%); */
      height: 100vh;
      z-index: 1000;
      top: 0;
      left: 0;
    }
  
    .sidebar-container.active {
      transform: translateX(0);
    }
  
    .main-content {
      margin-left: 0;
      margin-top: 10%;
    }

    .top-navbar-container.active {
        transform: translateX(0);
      }

    .top-navbar-container {
        position: fixed;
        transform: translateX(-100%);
        height: 10%;
        z-index: 1000;
        top: 0;
        left: 0;
    }
  }
  