.sidebar {
  width: 15%;
  background-color: #0e0a46;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: fixed;
  height: 100vh;
  padding: 20px;
  transition: transform 0.3s ease;
}

/* Avatar and admin name section */
.sidebar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 30px;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #2A2F73;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.1em;
}

/* Sidebar links */
.sidebar-links {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.sidebar-links li {
  padding: 15px 0;
  font-size: 1em;
  cursor: pointer;
}

.sidebar-links li:hover {
  background-color: #2A2F73;
  border-radius: 4px;
  padding-left: 10px;
}

/* Logout button styling */
.logout-button {
  background: none;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  margin-bottom: 40px;
  margin-top: auto;
  padding: 10px 0;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #2A2F73;
  border-radius: 4px;
  padding-left: 10px;
}

/* Responsive sidebar for mobile */
@media (max-width: 768px) {
  .sidebar {
      transform: translateX(-100%);
      z-index: 1000;
  }

  .sidebar.active {
      transform: translateX(0);
  }

  .sidebar-close {
      display: block;
  }
}