/* Styling for the ContentList page */
.content-list-page {
    padding: 20px;
    overflow-y: auto;
}

.content-list-title {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-around;
}
